.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.card {
  background-color: white;
  box-shadow: 1px 1px 4px gray;
  width: 200px;
  padding: 10px;
}

.card img {
  height: 100px;
  width: 100%;
  margin: 20px 0px 0px 0px;
}
