.footer {
  background-color: rgb(30,30,30);
  background-size: cover;
  padding: 50px;
}

.links {
  width: 850px;
  margin: 0px auto;
  text-align: center;
}

.links a {
  color: #1DDD87;
}

.links a:hover {
  color: rgb(201, 58, 106);
}

.links ul {
  list-style: none;
  letter-spacing: 5px;
}

.links li {
  font-size: 30px;
  display: inline-block;
}

.links p {
  display: block;
  color: rgb(100,100,100);
}
